// http://colormind.io/
$primary-color: #f00;
// brand
$main-brand: #9899A7;


// light theme
$light-bg: #F8FAFA;
$light-text: #151D32;
$light-accent: #848896;


// dark theme
$dark-bg: #151D32;
$dark-text: #F8FAFA;
$dark-accent: #9CA3AA;
