@import "../styles/_colours.scss";

.clockFace {
    border: 1px solid $main-brand;
    padding: 2rem;
}

.superscriptItalics {
    font-size: medium;
    color: $light-accent;
    position: absolute;
    font-style: italic;
}

.superscriptItalics::before {
    content: "\00a0";
}

.smallText {
    font-size: medium;
    color: $light-accent;
}
